:host {
  width: 100%;
}

.progress {
  position: absolute;
  left: -1px;
  top: 106px;
  width: 110%;
}

.error {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
  width: 100%;
}

.content {
  margin: 3rem 5rem 0 5rem;
  max-width: 80rem;

  .table {
  }

}
